<h1>Editing masterplan2d</h1>

<%= render "form", masterplan2d: @masterplan2d %>

<br>

<div>
  <%= link_to "Show this masterplan2d", @masterplan2d %> |
  <%= link_to "Back to masterplan2ds", masterplan2ds_path %>
</div>
